pre .line {
  font-style: normal;
}

pre .line:focus,
pre .line:hover,
pre .line:active {
  background: #f8eec7;
}

pre .line::before {
  display: inline-block;
  content: attr(data-ln);
  width: 2em;
  color: #BBB;
  margin-right: 0.5em;
  border-right: solid 1px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: right;
}