pre {
  counter-reset: lines 0;
}

pre .line {
  counter-increment: lines;
  font-style: normal;
}

pre .line:focus,
pre .line:hover,
pre .line:active {
  background: #f8eec7 !important;
}

pre .line::before {
  content: counter(lines);
  text-align: right;
  display: inline-block;
  width: 2em;
  padding: 0.2em 0.5em;
  margin-right: 0.5em;
  color: #BBB;
  border-right: solid 1px;
}